<div class="mat-elevation-z8">
  <div class="search-container">
    <input
      type="text"
      placeholder="Поиск по номеру дела, специальности, ФИО, телефону ..."
      [(ngModel)]="searchQuery"
      (input)="onSearchInput($event)"
      class="search-input"
    />
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="table"
  >
    <ng-container matColumnDef="fullNameSpec">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by string"
      >
        Специальность
      </th>
      <td mat-cell *matCellDef="let element">{{ element.fullNameSpec }}</td>
    </ng-container>

    <!-- Nom_Folder -->
    <ng-container matColumnDef="Nom_Folder">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by string"
      >
        Номер дела
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Nom_Folder }}</td>
    </ng-container>

    <ng-container matColumnDef="zach">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Зачислено
      </th>
      <td mat-cell *matCellDef="let element">{{ element.zach }}</td>
    </ng-container>

    <ng-container matColumnDef="Plan_B">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Всего мест
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Plan_B }}</td>
    </ng-container>

    <ng-container matColumnDef="Zapis">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Запись
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Zapis }}</td>
    </ng-container>

    <ng-container matColumnDef="FIO">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ФИО</th>
      <td mat-cell *matCellDef="let element">{{ element.FIO }}</td>
    </ng-container>

    <ng-container matColumnDef="Telephone">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by string"
      >
        Телефон
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Telephone }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="onAdd(element)">
          Добавить
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Kod_Depat">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by string"
      >
        Kod Depat
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Kod_Depat }}</td>
    </ng-container>

    <ng-container matColumnDef="Kod_Spec">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by string"
      >
        Kod Spec
      </th>
      <td mat-cell *matCellDef="let element">{{ element.Kod_Spec }}</td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Комментарии</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-container *ngIf="applicantsResponse$ | async as applicantsResponse">
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
      (page)="handlePageEvent($event)"
      [length]="applicantsResponse.total"
    >
    </mat-paginator>
  </ng-container>
</div>
