:host {
  display: block;
  margin: 0.5rem 0 2rem;
}

.table {
  width: 100%;
  min-height: 650px;
}

.search-container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  min-width: 300px;
  width: 60%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
}

.mat-elevation-z8 {
  margin-top: 16px;
}
